<div class="container-fluid">
  <div class="row">
    <!-- add item component + inventory-list -->
    <div class="col-sm-12 col-md-6">
      <!-- add item component -->
      <app-add-city></app-add-city>

      <!-- A horizontal row(hr) divider that seperates the 'add-item' and 'inventory-list' -->
      <hr>
      <!-- inventory-list -->
      <app-all-cities></app-all-cities>
    </div>

    <!-- edit inventory item + edit-item-image +  item-history  -->
    <div class="col-sm-12 col-md-6">
      <!-- edit item -->
      <app-city-info></app-city-info>

      <!-- edit item image -->

      <!-- item history -->

    </div>


  </div>
</div>