<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 text-center">
      <button (click)="addIndustryDialog()" type="button" class="btn btn-primary some-top-margin">
        <!-- TODO: center the god damn icon. -->
        <!-- <i class="material-icons align-please">add_box</i> -->
          Add Industry
      </button>

      <div>
        <!-- <md-select placeholder= "Sort by:">
          <md-option (click)="filterby('name')">Name</md-option>
        </md-select> -->
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Industry Name" value="">
        </md-form-field>
      </div>
      
    <md-nav-list>
        <md-list-item *ngFor="let item of industries$ | async" (click)="goToIndustry(item.$key)">
           <a mdLine>{{ item.name }}</a>
        </md-list-item>
      </md-nav-list>

    </div>
  </div>

</div>


